{% extends "nav.html" %}
{% block nav_publications %}active{% endblock %}
{% block content %}
<div class="container">
  <ol class=pub-list>
    <li>
      <p>
        <tt class=pub-title>Automatic Turn-Level Language Identification for Code-Switched Spanish–English Dialog.</tt>&nbsp<tt>Ramanarayanan, Vikram; <b>Pugh, Robert</b>; Qian, Yao; Suendermann-Oeft, David; <tt><tt>Proc. of the IWSDS Workshop.  </tt><tt>2018.  </tt><a href="http://www.vikramr.com/pubs/automatic-turn-level.pdf">[Link]</a>    </p>
    </li>
    <li>
      <p>
        <tt class=pub-title>Automatic Token and Turn Level Language Identification for Code-Switched Text Dialog: An Analysis Across Language Pairs and Corpora.</tt>&nbsp<tt>Ramanarayanan, Vikram; <b>Pugh, Robert</b>; <tt><tt>Proceedings of the 19th Annual SIGdial Meeting on Discourse and Dialogue.  </tt><tt>2018.  </tt><a href="http://www.vikramr.com/pubs/Ramanarayanan_codeswitched_LID_SIGDIAL18.pdf">[Link]</a>    </p>
    </li>
    <li>
      <p>
        <tt class=pub-title>Improving native language (L1) identifation with better VAD and TDNN trained separately on native and non-native English corpora.</tt>&nbsp<tt>Qian, Yao; Evanini, Keelan; Lange, Patrick L; <b>Pugh, Robert A</b>; Ubale, Rutuja; Soong, Frank K; <tt><tt>Automatic Speech Recognition and Understanding Workshop (ASRU), 2017 IEEE.  </tt><tt>2017.  </tt><a href="https://ieeexplore.ieee.org/abstract/document/8268992/">[Link]</a>    </p>
    </li>
    <li>
      <p>
        <tt class=pub-title>A report on the 2017 native language identification shared task.</tt>&nbsp<tt>Malmasi, Shervin; Evanini, Keelan; Cahill, Aoife; Tetreault, Joel; <b>Pugh, Robert</b>; Hamill, Christopher; Napolitano, Diane; Qian, Yao; <tt><tt>Proceedings of the 12th Workshop on Innovative Use of NLP for Building Educational Applications.  </tt><tt>2017.  </tt><a href="http://www.aclweb.org/anthology/W17-5007">[Link]</a>    </p>
    </li>
    <li>
      <p>
        <tt class=pub-title>Improving sub-phone modeling for better native language identification with non-native english speech.</tt>&nbsp<tt>Qian, Yao; Evanini, Keelan; Wang, Xinhao; Suendermann-Oeft, David; <b>Pugh, Robert A</b>; Lange, Patrick L; Molloy, Hillary R; Soong, Frank K; <tt><tt>Proc. Interspeech 2017.  </tt><tt>2017.  </tt><a href="http://oeft.de/su/pdf/interspeech2017d.pdf">[Link]</a>    </p>
    </li>
    <li>
      <p>
        <tt class=pub-title>Improvements to an Automated Content Scoring System for Spoken CALL Responses: The ETS Submission to the Second Spoken CALL Shared Task.</tt>&nbsp<tt>Evanini, Keelan; Mulholland, Matthew; Ubale, Rutuja; Qian, Yao; <b>Pugh, Robert</b>; Ramanarayanan, Vikram; Cahill, Aoife; <tt>    </p>
    </li>
  </ol>
</div>
{% endblock %}
